<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>Customer</display-name>
  <servlet>
    <servlet-name>AddServlet</servlet-name>
    <servlet-class>com.qigang.web.AddServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ListServlet</servlet-name>
    <servlet-class>com.qigang.web.ListServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>QueryToUpdateServlet</servlet-name>
    <servlet-class>com.qigang.web.QueryToUpdateServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UpdateServlet</servlet-name>
    <servlet-class>com.qigang.web.UpdateServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DeleteServlet</servlet-name>
    <servlet-class>com.qigang.web.DeleteServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>BatchDelServlet</servlet-name>
    <servlet-class>com.qigang.web.BatchDelServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>PagedListServlet</servlet-name>
    <servlet-class>com.qigang.web.PagedListServlet</servlet-class>
  </servlet>







  <servlet-mapping>
    <servlet-name>AddServlet</servlet-name>
    <url-pattern>/servlet/AddServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ListServlet</servlet-name>
    <url-pattern>/servlet/ListServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>QueryToUpdateServlet</servlet-name>
    <url-pattern>/servlet/QueryToUpdateServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UpdateServlet</servlet-name>
    <url-pattern>/servlet/UpdateServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DeleteServlet</servlet-name>
    <url-pattern>/servlet/DeleteServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>BatchDelServlet</servlet-name>
    <url-pattern>/servlet/BatchDelServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PagedListServlet</servlet-name>
    <url-pattern>/servlet/PagedListServlet</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
  <error-page>
  	<error-code>500</error-code>
  	<location>/error/500.jsp</location>
  </error-page>
  <error-page>
  	<error-code>404</error-code>
  	<location>/error/404.jsp</location>
  </error-page>
</web-app>